{% extends 'MisPerris/base.html' %}
{% load static %}
{% block content %}
<main>
        <h1 style="text-align: center" >Nuevo Perro</h1>
        <center>
                <div class="Formulario">
                        <form method="POST" class="perro-form" enctype="multipart/form-data">{% csrf_token %}
                                {{ form.as_p }}
                                <button  type="submit" >Guardar</button>
                        </form>
                </div>
        </center>
       
</main>



{% endblock %}