{% extends 'MisPerris/base.html' %}

{% block content %}
<main>
        <h1 style="text-align: center" >Nuevo Perro</h1>
        <center>
                <div class="Formulario">
                        <form method="PERRO" class="perro-form">{% csrf_token %}
                                {{ form.as_p }}
                                <button style="text-align: center" type="submit" class="save btn btn-default">Guardar</button>
                            </form>
                </div>
        </center>
       
</main>



{% endblock %}