{% extends 'MisPerris/base.html' %}

{% block content %}

  <main >
    <div style="text-align: center"><h1>NECESITAN UN NUEVO HOGAR</h1></div>

    <div class="item-galery">  
            <div class="texto">
              
                {% for perro in perro %}
                <div class="item-galery-title">
                    <h1>{{ perro.Nombre }}</h1>
                </div>
              <p>{{ perro.Raza }}</p>    
              
              <p>{{ perro.Descripcion }}</p>
              <p>{{ perro.Estado|linebreaksbr }}</p>
              {% endfor %}
              
              </div>
        
   </div>  

   
    
      </main>
      
    
{% endblock %}