{% extends 'MisPerris/base.html' %}
{% load static %}
{% block content %}
<main>
        <center>
            <h1  style="padding: 20px 0px" ><img src="{% static 'img/logo50.png' %}" alt="logo mis perris"/>Registrate Con Nosotros</h1>
              <div class="Formulario">
                    <form method="POST" class="cliente-form" enctype="multipart/form-data">{% csrf_token %}
                        {{ form.as_p }}
                        <button  type="submit" >Guardar</button>
                </form>

        </center>     
    </main>
{% endblock %}