.item-galery {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.item-galery-title {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 3px;
    border-top: 4px solid black;
}

.img-galery {
    border-radius: 50%;
    justify-content: center;
    align-items: center;

}

.item-galery-img {
    display: flex;
    margin-bottom: 10px;
    width: 65%;

}
@media screen and (min-width:480px) {
    .item-galery-img {
        width: 48%;
        margin-bottom: 10px;
        padding: 10px;

    }
}

@media screen and (min-width:740px) {

    .item-galery-img {
        width: 33.3%;
    }

}
@media screen and (min-width:1024px) {
   
    .item-galery-img {
        width: 25%;
     
    }
    
.img-galery {
     width: 300px;;

}
}