@media screen and (min-width: 300px){
    header{
        font-family: "tittle";
        width: 100%;
        background-color: rgb(55, 139, 46);

    }
    nav{
        width: 100%;
        text-align: center;
        background-color: rgb(55, 139, 46);
    }

    .nav{
        display: grid;
        margin: 0px ;
        text-decoration-line: none;
        
        
       
    }
    
    .nav a{
        text-decoration: none;
        padding: 20px 48px;
        margin: 0%;
        color: black;    
    }
    
    .nav a:hover{
        background-color: gray;
    }
    
    nav ul{
        margin: 0%;
        
    }
    input, select{
        border: 2px solid;
        border-radius: 4px;
        height: 30px;
        width: 150px;
    }

    .texto{
        width: 100%;
        background-color: white;
        padding: 20px 0px;
    }
    
    
    .textos{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
      
    }
    .carousel{
        width: 300px;
        margin: 20px;
        overflow: hidden;
        margin-left: auto;
        margin-right: auto;
        
    }

    .carousel ul{
        list-style: none;
        width: 1200px;
        display: flex;
        animation: slide 20s infinite alternate;
    }
    @keyframes slide{
        0%{margin-left: 0px;}
        20%{margin-left: 0%;}
        25%{margin-left: -300px;}
        45%{margin-left: -300px;}
        50%{margin-left: -600px}
        70%{margin-left: -600px;}
        75%{margin-left: -900px}
        100%{margin-left: -900px}
   
    }
}